html, body {
  height: 100%;
  width: 100%;
  background-color: #ffd5dc;
}

.grid {
  display: grid;
  grid-template-areas:
    "a a a a"
    "b c c c"
    "b c c c"
    "d d d d";
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100%);
}

.grid > * {
  background-color: lightpink;
  border-radius: 5px;
}

img{
  width: 70%;
}

header {
  grid-area: a;
  padding-left: 10px;
}

nav {
  grid-area: b;
  padding-left: 10px;
}

main {
  grid-area: c;
  padding-left: 10px;
}

footer {
  grid-area: d;
  padding-left: 10px;
}

table{
  background-color: salmon;
  width: 100%;
  border: 1px solid black;
}

p{
  font-family: Arial;
}

h1, h2{
  font-family: Georgia;
}

ol.deepblue{
  color: #000082;
}

ol.garamond, ul.garamond{
  font-family: Garamond;
  color: #8F0000;
  font-size: 1.5em;
}

th{
  background-color: #000000;
  color : white;
  border: 1px solid #000000;
}

td{
  text-align: center;
  border: 1px solid black;
}

.centertext{
  text-align: center;
}

.whiteback{
  background-color: #b0aafb;
}

.bold{
  font-weight: bold;
}